# API Keys
ALPHA_VANTAGE_API_KEY=H1K1S8FIXXNN0H0A
FINNHUB_API_KEY=d5jou39r01qjaedqu78gd5jou39r01qjaedqu790
FRED_API_KEY=b7db4768e9f0e78b4211b5a83462559d
NEWS_API_KEY=bdf8e62300134d2e8ef3da00c9092ed4

# Vercel KV (Redis)
KV_URL=
KV_REST_API_URL=
KV_REST_API_TOKEN=
KV_REST_API_READ_ONLY_TOKEN=

# App Config
NEXT_PUBLIC_APP_NAME=AlphaEdge
NEXT_PUBLIC_REFRESH_INTERVAL=30000
